{% extends theme_layout_html %}

{% block content %}
<h1>Classifield list</h1>

<table class="records_list">
    <thead>
        <tr>
             <th>Picture</th>
            <th>Title</th>
            <th>Description</th>
            
            <th>Currency</th>
            <th>Price</th>
            <th>Status</th>
           
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
             <td>{{ entity.picture }}</td>
            <td><a href="{{ path('aviso_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
            <td>{{ entity.description }}</td>
            
            <td>{{ entity.currency }}</td>
            <td>{{ entity.price }}</td>
            <td>{{ entity.status }}</td>
            
           
            <td>
                <ul>
                    <li>
                        <a href="{{ path('aviso_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('aviso_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('aviso_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
   
{% endblock %}