{% extends theme_layout_html %}

{% block content %}
<h1>Mis Avisos</h1>

{% include 'smpclClassifieldBundle:Classifield:listing_actions.html.twig' %}
    
{% if entities %}
<table class="prettyprint linenums zebra-striped">
    <thead>
        <tr>
             <th>Foto</th>
            <th>Título</th>

            <th>Precio</th>
            <th>Estado</th>
           
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
             <td class="list-icon media-grid">
                 
                 <a href="{{ path('aviso_show', { 'id': entity.id }) }}">
            <img class="thumbnail" src="http://placehold.it/90x90" alt="{{ entity.title }}">
          </a>
                 
             </td>
            <td>
                <a href="{{ path('aviso_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                <blockquote>{{ entity.description | truncate(100) }}</blockquote>
            </td>
            
            
            <td>
                {% if entity.isBillable %}
                    {{ entity.getCurrencySymbols(entity.currency)  }} {{ entity.price }}
                {% else %}
                    No Aplica
                {% endif %}
            </td>
            
            <td>{{ entity.status }}</td>
            
           
            <td>
                <ul>
                    <li>
                        <a href="{{ path('aviso_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('aviso_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
      
    {% endfor %}
    </tbody>
</table>
{% else %}   
    <div class="alert-message block-message warning" data-alert="alert">
            <p><strong>No tienes ningún aviso !</strong> Para crear uno, haga click en el siguiente botón, es fácil y rápido!</p>
            <p>Recuerda que cuando hayas completado el formulario, el mismo no se publicará inmediatamente, pues tiene que ser aprobado por un administrador.</p>
            <div class="alert-actions">
              <a class="btn small success" href="{{ path('aviso_new') }}">Crear mi primer aviso</a>
            </div>
          </div>
{% endif %}

{% include 'smpclClassifieldBundle:Classifield:listing_actions.html.twig' %}
   
{% endblock %}