{% extends theme_layout_html %}

{% block content %}
<div class="row">
<div class="span13">
{% include theme_flashes_html %}
<h1>{{ entity.title }} <small> &middot;  {{ entity.category }}</small></h1>
</div>
    </div>
<div class="row">
    <div class="span9 classifieldDescription">
        <p>{{ entity.description | nl2br }}</p>
    </div>
    <div class="span4 classifieldInfo">
        <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
        </a>
        <h4>PRECIO: {{ entity.FormattedPrice }}</h4>
        <ul>
            <li>Mod: {{ entity.updatedat|date('d/m/Y H:i') }}</li>
            <li>Publicó: {{ entity.user }}</li>

        </ul>
    </div>
    <div class="span13 well">
        <a href="{{ path('aviso_edit', { 'id': entity.id }) }}" class="btn primary">Editar</a>
        <a href="{{ path('aviso') }}" class="btn">Mis Avisos</a>
        <form action="{{ path('aviso_delete', { 'id': entity.id }) }}" method="post" class="showActionDelete">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn danger" onclick="return confirm('¿ Estás seguro que deseas borrar el aviso ?')">Borrar</button>
        </form>
    </div>
</div>

{% endblock %}