{% extends theme_layout_html %}

{% block content %}
<div class="row">
    <div class="span13">
        {% include theme_flashes_html %}
        <h1>{{ entity.title }} <small> &middot;  {{ entity.category }}</small></h1>
    </div>
</div>
<div class="row">
    <div class="span9 classifieldDescription">
        {% autoescape false %}
        <p>{{ entity.description | raw }}</p>
        {% endautoescape %}
    </div>
    <div class="span4 classifieldInfo">
        <a href="#">
            <img class="thumbnail" src="http://placehold.it/210x150" alt="">
        </a>
        <h4>PRECIO: {{ entity.FormattedPrice }}</h4>
        <ul>
            <li>Mod: {{ entity.updatedat|date('d/m/Y H:i') }}</li>
            <li>Publicó: {{ entity.user }}</li>
        </ul>
        <div style="text-align: center; margin-bottom: 10px">
            <a href="#" class="btn large success"><strong>Contactar Vendedor</strong></a>
        </div>
        
         {% if is_granted('ROLE_ADMIN') %}
        <div class="well">
            <div class="alert-message warning">Administrar Aviso</div>
            <ul>
                {#Llamar al mismo controlodar del classifield admin #}
                <li><a href="#">Habilitar</a></li>
                <li><a href="#">Deshabilitar</a></li>
                <li><a href="#">A Moderar</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="span13 well">
        <a href="{{ path('category_show', {'slug': entity.category.slug}) }}" class="btn" title="Ir a {{ entity.category }}">Volver a {{ entity.category }}</a>
        {% if is_granted('ROLE_USER') %}
        <a href="{{ path('aviso') }}" class="btn info">Mis Avisos</a>
        {% endif %}
        {% if is_owner %}
        <a href="{{ path('aviso_edit', { 'id': entity.id }) }}" class="btn primary">Editar</a>
        <form action="{{ path('aviso_delete', { 'id': entity.id }) }}" method="post" class="showActionDelete">
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn danger" onclick="return confirm('¿ Estás seguro que deseas borrar el aviso ?')">Borrar</button>
        </form>
        {% endif %}

    </div>

</div>




{% endblock %}