<tr>
    <td class="list-icon media-grid">
        <a href="{{ path('aviso_show', { 'id': classifield.id, 'slug': classifield.slug }) }}" title="{{ classifield.title }}">
            <img class="thumbnail" src="http://placehold.it/90x90" alt="{{ classifield.title }}"/>
        </a>
    </td>
    <td class="listingRowDescription">
        <a href="{{ path('aviso_show', { 'id': classifield.id, 'slug': classifield.slug }) }} <span class="label success">Nuevo</span> </h3></a>
        <blockquote>{{ classifield.description | striptags |truncate(200) }}</blockquote>
    </td>
    <td class="tdFormattedPrice">
        <div class="FormattedPrice">
            {{ classifield.FormattedPrice }}
        </div>

        <a href="{{ path('aviso_show', { 'id': classifield.id, 'slug': classifield.slug }) }}" class="btn small primary">Ver más</a>
    </td>
</tr>