<div class="topbar" data-dropdown="dropdown">
    <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{ path('smpclThemeBundle_homepage') }}">{{ theme_project_name }}</a>
            <ul class="nav">
                <li class="active"><a href="{{ path('smpclThemeBundle_homepage') }}">Inicio</a></li>
               
                <li><a href="#contact">Noticias</a></li>
                 <li><a href="{{ path('smpclThemeBundle_static', {name: 'ayuda' }) }}">Acerca de ...</a></li>
            </ul>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <ul class="nav secondary-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">{{ app.user.username }}</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('aviso') }}">Mis Avisos</a></li>
                        <li><a href="{{ path('fos_user_profile_show') }}">Perfil</a></li>
                        
                        <li class="divider"></li>
                        
                        <li><a href="{{ path('fos_user_security_logout') }}">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </ul>

            {% else %}
            <div class=" pull-right">
                <ul class="nav">
                    <li><a href="{{ path('fos_user_security_login') }}">Ingresar</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Registrate</a></li>
                </ul>
            </div>
            {% endif %}

        </div>
    </div>
</div>